<%= render partial: "shared/sidebar" %>

<div class="px-4 sm:ml-80">
  <%= render partial: "shared/heading",
             locals: {
               title: "Chats",
               search_path: admin_chats_path,
             } %>

  <%= render partial: "shared/filter", locals: admin_chats_filter_settings %>
  <%= render partial: "shared/table", locals: admin_chats_table_settings %>
</div>
