<div
  class="
    flex justify-between items-center mt-4 sm:mt-0 px-4 mb-5 bg-white rounded-sm
    shadow-md dark:bg-gray-700
  "
>

  <button
    data-drawer-target="default-sidebar"
    data-drawer-toggle="default-sidebar"
    aria-controls="default-sidebar"
    type="button"
    class="
      inline-flex items-center p-2 mr-4 text-sm text-gray-500 rounded-lg
      hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 sm:hidden
    "
  >
    <span class="sr-only">Open sidebar</span>
    <span class="material-symbols-outlined">menu</span>
  </button>
  <h1
    class="
      w-full lg:w-auto py-6 max-sm:py-2 lg:mb-0 text-lg font-semibold text-gray-700
      dark:text-white md:mb-4 text-nowrap flex items-center
    "
  >
    <%= title %>
  </h1>
  <%= render "shared/user_dropdown" %>
</div>
