<div
  class="
    flex justify-between items-center mt-4 sm:mt-0 px-8 mb-5 bg-white rounded-sm
    shadow-md dark:bg-gray-700
  "
>
  <h1
    class="
      w-full lg:w-auto py-6 max-sm:py-2 lg:mb-0 text-lg font-semibold text-gray-700
      dark:text-white md:mb-4 text-nowrap flex items-center
    "
  >
    <%= title %>
  </h1>
  <%= render "shared/user_dropdown" %>
</div>
