<%= turbo_frame_tag "#{user}_#{dom_id(chat)}" do %>
  <div class="flex justify-between w-full bg-red-400 p-2">
    <div class="caht">
      <%= link_to chat.title(user), chat_path(chat), data: { turbo_frame: "#{user}_show"} %>
    </div>

    <% if chat.unread_messages_count(user) > 0 %>
    <div class="flex justify-end  bg-white text-red-500 rounded-xl py-1 px-2">
      <%= chat.unread_messages_count(user) %>
    </div>
    <% end %>
  </div>
<% end %>
