<%= turbo_frame_tag "#{partner.id}_icon" do %>
  <% online_icon_bg = partner.online? ? 'bg-green-400' : 'bg-red-400' %>

  <div class="relative" data-controller="online-icon"
       data-online-icon-last-seen-at-value="<%= partner.last_seen_at %>">
      <svg class="w-10 h-10 rounded" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
      </svg>
      <span class="bottom-0 left-7 absolute w-3.5 h-3.5 <%= online_icon_bg %> border-2 border-white dark:border-gray-800 rounded-full" data-online-icon-target="icon"></span>
  </div>
<% end %>
