<%= render partial: "shared/sidebar" %>

<div class="px-4 sm:ml-80 min-h-[90vh]">
  <%= render partial: "shared/heading", locals: { title: "Edit User" } %>
  <div class="p-4 bg-white rounded-sm dark:bg-gray-700">
    <%= render partial: "shared/form",
          locals: admin_users_form_settings.merge(show_company: true) %>
  </div>
</div>
